/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

* {
    padding: 0;
    margin: 0;
}

.soporte-semaforo {
    height: 100px;
    width: 30px;
    background-color: black;
    margin: auto;

}

.contenedor-semaforo {
    background-color: rgb(0, 0, 0);
    height: 500px;
    width: 200px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    height: 110px;
    width: 110px;
    margin-top: 40px;
    border-radius: 55px;
}

.light-on {
    -webkit-box-shadow: 0px 0px 79px 48px rgba(235, 237, 135, 0.47);
    -moz-box-shadow: 0px 0px 79px 48px rgba(235, 237, 135, 0.47);
    box-shadow: 0px 0px 79px 48px rgba(235, 237, 135, 0.47);
}