/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(133, 130, 130, 0.5), rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1684331424539-8f3d8c6ac81a?q=80&w=1153&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.soporte-semaforo {
    height: 100px;
    width: 30px;
    background-color: black;
    margin: auto;
    border-color: white;



}

.contenedor-semaforo {
    background-color: rgb(0, 0, 0);
    height: 500px;
    width: 200px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    height: 110px;
    width: 110px;
    margin-top: 40px;
    border-radius: 55px;
}

.light-on {
    -webkit-box-shadow: 0px 0px 79px 48px rgba(235, 237, 135, 0.7);
    -moz-box-shadow: 0px 0px 79px 48px rgba(235, 237, 135, 0.7);
    box-shadow: 0px 0px 79px 48px rgba(235, 237, 135, 0.7);
}